
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


.App {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
#quote-box {
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  color: black;
  #author {
    text-align: flex-end;
  }

  
// .button {
//   width:450px;
//   margin:auto;
//   display:block;
  // display:flex;
  // justify-content: space-between;
  // min-height: 50px;
  .buttons {
    // width:450px;
    margin:auto;
    display:block;
    .button {
      border:none;
      border-radius:3px;
      color:#fff;
      background-color:#333;
      outline:none;
      font-size:0.85em;
      padding: 8px 18px 6px 18px;
      margin-top:30px;
      opacity:1;
      cursor:pointer;
      &:hover {
        opacity:0.9;
      }
    }
  #tweet-quote {
    display: flex;
    border-radius: 10px;
    float: left;
    padding: 10px;
    align-self: center;
    justify-content: center;
    color: white;
    text-decoration: none;
  }
}
  #new-quote {
    cursor: pointer;
    float: right;
    color:white;
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-size: 16px;
  }
}
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

// @media only screen and (max-width: 600px) {
//   .buttons {
//   flex-direction: column-reverse;
//   #new-quote {
//     margin-bottom: 10px;
//   }
//   }
// }


// .App-link {
//   color: #61dafb;
// }


